version: '3'
services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    networks:
      - traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./traefik.toml:/traefik.toml"
      - "./lab.test.key:/lab.test.key"
      - "./lab.test.crt:/lab.test.crt"
    labels:
      - "traefik.port=8080"
      - "traefik.frontend.rule=Host:traefik.lab.test"
networks:
  traefik:
    external:
      name: traefik
